body {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

div#hero {
    background-image: url("Images/Court.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    padding-top: 10%;
}

div#content {
    background-color: white;
    padding: 15px 30px;
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

div#content img {
    width: 100%;
}

figcaption {
    color: #555;
    font-style: italic;
    font-size: 16px;
}

figcaption.hero-credit {
    text-align: right;
    padding: 10px 20px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}